<section>
  
  <div class= "container has-text-centered">
    <div class="block is-flex-direction-row">
      <form class="login-form text center" id="signup">
    <h2 class= "title is-4">SIGNUP</h2>

    <form class="form signup-form is-centered">
      <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group signup">
        <button class="button is-link" type="submit">Signup</button>
      </div>
    </form>
  </div>
            <p class="">Already have an account?<a href="/login">Login</a></p>

      </form>
      </div>
      </div>
  </section>

  <script src="/js/signup.js"></script>
