<section>
    <div class="block">
      <form class="login-form text center" id="signupform">
        <h1 class="">Sign-up</h1>
        <div class="form-group">
          <input class="text" type="form control" placeholder="Username" id="Username">
        </div>
  
        <div class="form-group">
          <label class="password" class="form-control" placeholder="Password" id="Password">
            <button type="submit" class="button is-link">Sign-up</button>
            <p class="">Already have an account?<a href="/login">Login</a></p>
  
            <label class="display-7" for="name">Username:</label>
            <input class="form-input" type="username" id="username" />
        </div>
        <div class="form-group">
          <label class="display-7" for="password-login">Password:</label>
          <input class="form-input" type="password" id="password" />
        </div>
        <div class="form-group">
          <button class="button is-link" type="submit" id="signup">Sign Up</button>
        </div>
      </form>
      </div>
  </section>
  <script src="/js/signup.js"></script>
