<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    
    <title>Tech Blog</title>
  </head>
  <body>
    <div class="block">
      <h3 class="title is-4">Edit Post</h3>
      <form class="form">
          <label for="post-title" class="form-label">Title</label>
          <input name="post-title" type="text" value="{{post.title}}" class="form-input" />
          <label class="form-label" for="content">Content</label>
          <input name="content" type="text" value="{{post.content}}" class="form-input" />
          <button class="button is-info is-small" type="submit">Update Post</button>
          <button  class="button is-info is-small" type="button">Delete Post</button>
      </form>
  </div>
  
  
  <script src="/js/edit-post.js"></script>
  <script src="/js/delete-post.js"></script>



  </body>
</html>
